doctype html
html
head
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet" href="../style.css")
body
	a(href="/", class="jayson") Standard LOLs
	hr
	br
	div
		a(href="create") Create Survey
