doctype html
html
head
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet" href="style.css")
script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="survey_be.js")
body
	a(href="/", class="jayson") Standard LOLs
	if msg === 1
		p(class="message") Your survey has been submitted.
	hr
	br
	div
		a(href="create") Create Survey
	form(class="survey", method="POST", action="/survey/#{document._id}", id="survey")
		div(class="title") #{document.title}
		ul(id="options")
			for option in document.options
				li(style="cursor: pointer") #{option.option}