body {
	background-color: white;
	text-align: center;
}

h2 {
	text-align: left;
}

.text-field {
	text-align: left;
	border-bottom: 1px solid #44ccff;
	min-height: 20px;
	margin-top: 8px;
}

.text-field:focus {
	outline: none;
	border-bottom: 1px solid #aaeeff;
}

.option {
	width: 80%;
}

#survey, #prevSurvey {
	min-width: 50%;
	margin: 0px;
	display: inline-block;
}

#options, #results {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#options li, #results li {
	display: block;
	margin-top: 8px;
	overflow: visible; 
	white-space: nowrap; 
	padding-left: 8px;
	background-color: #eee;
}

.title {
	font-size: 24px;
}

.tag {
	font-size: 16px;
}

.message {
	background-color: #cceeff;
}